controlplane:
worker:{{ workervm_ip }}:tcp:10250
worker:{{ workervm_ip }}:tcp:7946
worker:{{ workervm_ip }}:tcp:4240
worker:{{ workervm_ip }}:udp:7946
etcd:{{ controlvm_ip }}:tcp:2380
worker:{{ workervm_ip }}:tcp:443
prism_central:{{ NUTANIX_ENDPOINT }}:tcp:9440

worker:
control:{{ controlvm_ip }}:tcp:10250
control:{{ controlvm_ip }}:tcp:7946
control:{{ controlvm_ip }}:tcp:4240
control:{{ controlvm_ip }}:udp:7946
control:{{ controlvm_ip }}:udp:8472
control:{{ controlvm_ip }}:tcp:443
prism_central:{{ NUTANIX_ENDPOINT }}:tcp:9440
dataservice(foriSCSI):{{ dsip }}:tcp:3260
dataservice(foriSCSI):{{ dsip }}:tcp:3205